!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Tokyo Metro 3D map')
    meta(name='author', content='Takao Naito (xarsh@outlook.com)')

    title Tokyo Metro 3D map
    
    link(rel='stylesheet', href='css/master.css')
  body
    .title 
      h1 東京メトロ 3D路線図
      ul
        li: a.on(href='#') Stations
        li: a.on(href='#') Lines
        li: a(href='#') Information

    .tooltip name
    .station-detail
      .yomigana(v-html='stationYomigana')
      .name(v-html='stationName')
      .english(v-html='stationEnglish')
      .subname(v-html='stationSubName')
      .address(v-html='stationAddress')
      ul.transfer
        li.line(v-repeat='lines')
          img(v-attr='src:"img/"+line+".png"', width='24px')
          span.line-name {{line}}線

    .signature 
      a(href='http://xar.sh') Takao Naito
      span= ' - '
      a(href='https://github.com/xarsh/metro') Github
      span= ' - '
      a(href='https://twitter.com/xar_sh') Twitter


    script(src='//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/vue/0.10.5/vue.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js')
    script(src='js/orbitcontrols.js')
    script(src='js/metro.js')
